Find the highest number in the list of arrays.

In [ ]:
list = [
    [1, 2, 3, 4, 5],
    [6, 2, 3, 4, 5],
    [10, 2, 3, 10, 5],
    [1, 2, 3, 14, 5]
]

highest_number = list[0][0]

for array in list: 
  for sub_array in array:
    if sub_array > highest_number:
      highest_number = sub_array
print(highest_number)

14

In [ ]:
list = [1,12,3,24,5]
highest_number=list[0]  
for array in list:
  if array>highest_number:
    highest_number = array
print(highest_number)

24

Print the table of any number.

In [ ]:
number = 4 

for i in range(1,11):
  print(number,"x",i,"=",number*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Write a program to find the sum of squares of each element of the list
using a for loop.

In [ ]:
list = [1 ,2 ,3 ,4]

for array in list: 
  print(array*array)

1
4
9
16

Print your name 3 times using a while loop.

In [ ]:
i = 0 

while i<3:
  print("Abdullah khan")
  i+=1

Abdullah khan
Abdullah khan
Abdullah khan

Find the mean of a given list of numbers.

In [ ]:
list = [1 ,2, 3, 4]
total = sum(list)
mean = total/len(list)

In [ ]:
mean

2.5

Write a function to find the factorial of any number.

In [ ]:
def factorial(number):
  if number == 0 : 
    return 1
  else : 
    return number * factorial(number-1)

In [ ]:
result = factorial(5)

In [ ]:
result

120

Write a function for simple operations (+, -, *, /).

In [ ]:
def calculator(operator,operand1,operand2):
  if operator == '+':
    return operand1 + operand2
  elif operator == '-':
    return operand1 - operand2
  elif operator == '*':
    return operand1 * operand2
  elif operator == '/':
    return operand1 / operand2
  else:
    print('unsupported operator')


calculator('/',20,10)

2.0

Write a function that counts the number of “a” in a sentence.

In [ ]:
def counting(sentence):
  count = 0
  for char in sentence: 
    if char == 'a': 
      count += 1
  return count

counting("My name is abdullah khan")

4

In [ ]:
def count(sentence):
  count = 0 
  for char in sentence:
    if char == 'a' or char == 'A':
      count += 1 
  return count

count("My name is Abdullah khan")

4

Write a function that computes the power of a number.

In [ ]:
def power(base,exponent):
  result = 1 
  while exponent > 0 :
    result *= base
    exponent -= 1
  return result

power(2, 3)

8

In [ ]:
def power(base,exponent):
  result = 1 
  while exponent > 0 :
    result *= base 
    exponent -= 1
  return result

In [ ]:
power(2,4)

16

Write a function that reverse a number using a while loop.

In [4]:
def reverse_num(num):
  reverse_number = 0 
  while num > 0 :
    digit = num % 10 
    reverse_number = (reverse_number * 10) + digit 
    num = num // 10 
  return reverse_number

In [5]:
reverse_num(5421)

1245